h1 {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.missions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin-inline: auto;
    margin-bottom: 100px;
    gap: 20px;
}



.about {
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
    margin-top: -500px !important;
    margin-bottom: 400px;
    color: #f3f3f3;
    margin-top: 15%;
    width: 60%;
    text-align: center;

    h1 {
        font-weight: 700;
        font-size: 48px;
    }


    p {
        margin-top: -50px;
        color: rgba(255, 255, 255, 1);
        opacity: 0.7;
        font-weight: 400;
        font-size: 24px;
    }
}

@media screen and (min-width: 320px) {
    .about {
        width: 88%;
        margin-top: -400px !important;
    }

    .missions {
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media screen and (min-width: 768px) {
    .missions {
        max-width: 600px !important;
        margin-inline: auto !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .missions {
        max-width: 905px !important;
        margin-inline: auto !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        p {
            width: 100% !important;
        }
    }
}


@media screen and (min-width: 1440px) {
    .about {
        margin-top: -400px !important;
        width: 60%;
    }

    .missions {
        max-width: 1200px !important;
        margin-inline: auto !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        p {
            width: 100% !important;
        }
    }
}