.profile {
    text-align: center;

    img {
        margin-top: -40px;
    }

    form {
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: 600px;
        margin-inline: auto;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgb(230, 227, 227);
        box-shadow: 0px 0px 20px rgb(163, 163, 163);
        padding: 10px 20px;

        h3{
            font-size: 25px;
            margin: 50px;
        }

        label{
            display: flex;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            border: 1px solid rgb(222, 222, 222);
            min-height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 8px;
            color: rgba(34, 34, 34, 0.5);
        }

        button {
            background-color: rgba(217, 23, 108, 1);
            color: aliceblue;
            width: 80%;
            min-height: 40px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
            cursor: pointer;
        }

        button:hover {
            transform: translateY(2px);
        }

        .name {
            display: flex;
            gap: 12px;

            div{
                width: 100%;
            }
        }

        div {
            display: grid;
        }
    }
}

@media screen and (max-width: 430px) {
    .profile{
        max-width: 350px;
        margin-inline: auto;
    }
}

@media screen and (max-width: 320px) {
    .profile{
        max-width: 300px;
    }
}