.features {
    margin-top: 100px;
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}

h2 {
    margin-bottom: 50px;
    max-width: 1200px;
    margin-inline: auto;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin-inline: auto;
    gap: 30px;
    margin-bottom: 50px;

}


.inhome {
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
    margin-top: -400px !important;
    margin-bottom: 500px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    input {
        min-height: 35px;
        border-radius: 50px 0px 0px 50px;
        padding: 10px;
        min-width: 300px;
        min-height: 40px;
    }

    button {
        background-color: rgba(217, 23, 108, 1);
        border-radius: 0px 50px 50px 0px;
        width: 5%;
        min-height: 100%;
        cursor: pointer;
        padding: 10px;
        padding-top: 0;
    }

}

@media screen and (min-width: 320px) {
    .features {
        margin-right: 10px !important;
        margin-left: 20px !important;
        display: grid;
        grid-template-columns: 1fr;
    }

    .books {
        display: grid !important;
        grid-template-columns: 1fr !important;
        margin-right: 10px !important;
        margin-left: 20px !important;
    }

    .inhome {
        input {
            min-width: 100px;
        }

        button {
            width: 20%;
        }
    }
}

@media screen and (min-width: 768px) {

    .inhome {
        input {
            min-width: 300px;
        }

        button {
            width: 8%;
        }
    }

    .features {
        max-width: 600px !important;
        margin-inline: auto !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .books {
        max-width: 600px !important;
        margin-inline: auto !important;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .features {
        max-width: 905px !important;
        margin-inline: auto !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .books {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        max-width: 905px !important;
        margin-inline: auto !important;
    }
}

@media screen and (min-width: 1440px) {
    .features {
        max-width: 1200px !important;
        margin-inline: auto !important;
    }

    .books {
        max-width: 1200px !important;
        margin-inline: auto !important;
    }
}