.OurMission {
    .Mission {
        border: 1px solid rgb(225, 219, 219);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 12px;
        padding: 30px;
        opacity: 0.8;

        h3 {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 22px;
        }

        p {
            width: 80%;
            color: rgba(34, 34, 34, 0.5);
            margin-bottom: 10px;
        }

        a {
            color: rgba(217, 23, 108, 1);
            text-decoration: none;

            svg {
                margin-left: 10px;
            }
        }

        a:hover {
            svg {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    h1 {
        margin-top: -150px !important;
    }

}


@media screen and (min-width: 768px) {
    h1 {
        max-width: 600px !important;
        margin-inline: auto !important;
        margin-top: -60px !important;
    }

}

@media screen and (min-width: 1024px) {
    h1 {
        max-width: 905px !important;
        margin-inline: auto !important;
    }

}