.hero{
    position: relative;
    margin-top: -500px;
    color: aliceblue;
    margin-bottom: 450px;
    
    h1{
        font-weight: 700;
        font-size: 48px;
    }
}

h2 {
    margin-bottom: 50px;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin-inline: auto;
    gap: 30px;
    margin-bottom: 50px;

}

@media screen and (min-width: 320px) {
    .hero{
        h1{
            margin-top: 100px !important;
        }
    }
    
}