.signup {
    margin-top: 60px;
    margin-bottom: 200px;
    max-width: 500px;
    margin-inline: auto;

    form {
        .name {
            display: flex;
            gap: 10px;
        }

        input {
            width: 100%;
            border: 1px solid rgb(222, 222, 222);
            min-height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 8px;
            color: rgba(34, 34, 34, 0.5);
            margin-top: 10px;
        }

        .error {
            color: red;
            margin-bottom: 15px;
            margin-top: -12px;
            font-size: 15px;
        }
    }

    .chec {
        display: flex;
        gap: 5px;
    }

    .signBtn {
        background-color: rgba(217, 23, 108, 1);
        color: aliceblue;
        width: 100%;
        min-height: 40px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .signBtn:hover {
        transform: translateY(2px);
    }


    .sign {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 2px;
    }

    .or {
        color: rgba(0, 0, 0, 0.5);
    }

    a {
        color: rgba(217, 23, 108, 1);
        text-decoration: none;
    }

    .btns {
        display: grid;
        gap: 20px;

        button {
            background-color: rgb(249, 249, 249);
            min-height: 40px;
            padding: 12px 16px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 10px;
            box-shadow: 0px 2px 10px rgb(181, 177, 177);
        }

        button:hover {
            transform: translateY(2px);
        }
    }
}


@media screen and (max-width: 430px) {
    .signup {
        max-width: 250px;
        margin-inline: auto;

        form .name {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}